body {
    background-color: #000;
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 125px
}

p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}