body {
    background-color: #999;
    margin: 40px;
}

.ContenedorPrincipal {
    background-color: #fff;
    font-family: Arial;
    width: 300px;
    height: 445px;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: auto;
}

.LogoInicioSesion {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

p {
    font-size: 30px;
    text-align: center;
}

label {
    margin-left: 25px;
    width: 250px;
}

#Contraseña {
    margin-bottom: 1px;
}

.claveUsuario {
    margin-left: 25px;
}

.IniciarSesion {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    height: 40px;
}





/* Tarea
 Crear un index.html y enlazar un boton que abra otra página */