body {
    font-family: Farro;
    background-color: #555;
}

.contenedorPrincipal {
    background-color: #fff8e1;
    border: 0.3rem solid #000;
    border-radius: 0.5rem;
}

.tituloContenedor {
    background-color: #ff7a00;
    height: 5rem;
    content-visibility: auto;
    border-bottom: 0.2rem solid #000;
}

h1 {
    text-align:center;
    font-weight: bold;
    font-size: 2rem;
}

p {
    color: #4e342e;
}

a {
    text-decoration:underline;
    text-decoration-color: #4e342e;
}

.menuContenedor {
    font-weight: bold;
    background-color:#ffc107;
    border-bottom: 0.1rem solid #000;
}

.indices {
    margin: auto;
    font-size: 1.3rem;
}

.indice {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.contenedorContenido {
    text-align: justify;
    font-size: 1.1rem;
    padding: 1.5rem;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
    border-top: 0.4rem double #000;
    border-bottom: 0.4rem double #000;
    color: #4e342e;
}

.contenedorDestacado {
    font-weight: bold;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

.destacados {
    margin: auto;
}

#Destacado {
    width: 13rem;
    height: 10rem;
    border: 0.2rem solid #000;
}

#Reciente {
    width: 13rem;
    height: 10rem;
    border: 0.2rem solid #000;
}

.contenidoImagen {
    font-size: 1rem;
    margin-top: 0.1rem;
}